span {
  padding: 0.25rem 2rem 0.25rem 2rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.price {
  font-weight: bold;
}

div {
  padding: 0.25rem 2rem 0.25rem 2rem;
  display: flex;
}

button {
  color: #a71346;
  background-color: white;
  border: none;
  padding: 1rem 3rem 1rem 3rem;
}
