<sup-card-style>
  <span class="title">{{product?.title}}</span>
  <span class="body">{{product?.body}}</span>
  <span class="price">{{product?.price | currency: 'JPY'}}-</span>
  <div>
    <button type="submit" class="add-cart">カートに入れる</button>
    <button class="detail">詳細</button>
  </div>
</sup-card-style>
