<sup-header></sup-header>
<div>
  <sup-side-menu (productList)="onProductListButton()"></sup-side-menu>
  <div class="product-card">
    <ng-container *ngFor="let product of products">
      <sup-product-list-items [product]="product"></sup-product-list-items>
    </ng-container>
  </div>
</div>



