<div>
  <a routerLink="/product-list">
    <span class="productList" (click)=onClickProductList()>商品一覧</span>
  </a>
  <a routerLink="/cart">
    <span class="cart" (click)=onClickCart()>カート</span>
  </a>
  <a routerLink="/purchase-history">
    <span class="purchaseHistory" (click)=onClickPurchaseHistory()>購入履歴</span>
  </a>
  <a routerLink="/logout">
    <span class="logout" (click)=onClickLogout()>ログアウト</span>
  </a>
</div>
